/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    font: italic normal bold 24px/36px Roboto;
}

.container{
    
}
.header{
    background-image: url("image/photo-1552393700-42696fb89bfa.png");
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.h-tittle-1{
    font-size: 24px;
    text-align: left;
    line-height: 42px;
    color: white;
    margin-top: 308px;
}
.h-tittle-2{
    font-size: 80px;
    text-align: left;
    line-height: 106px;
    margin-bottom: 32px;
    color: white;
}
.h-tittle-3{
    font-size: 24px;
    text-align: left;
    line-height: 36px;
    margin-bottom: 40px;
    color: white;
}
.social-icon{
    display: flex;
    margin-bottom: 308px;
}
.mr-16{
    margin-right: 16px;
}

.contect{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.c-tittle-1{
    font-size: 64px;
    text-align: left;
    line-height: 84px;
    margin-top: 56px;
    margin-bottom: 40px;
}
.c-text-1{
    font-size: 24px;
    text-align: left;
    line-height: 42px;
    margin-top: 20px;
    margin-bottom: 4px;
}
.c-text-2{
    font-size: 24px;
    text-align: left;
    line-height: 42px;
    margin-bottom: 8px;
}
.c-text-3{
    font-size: 24px;
    text-align: left;
    line-height: 42px;
    text-align: center;
    margin-bottom: 28px;
    padding-bottom: 24px;
    border-bottom: 1px solid black;
}
.dot-tittle{
    display: flex;
    align-items: center;
    margin-bottom: 28px;
}
.dot{
    background-color: #891818;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    margin-right: 16px;
}
.c-text-4{
    font-size: 24px;
    text-align: left;
    line-height: 42px;
}
.contect-2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
}
.c2-tittle{
    font-size: 64px;
    text-align: left;
    line-height: 84px;
    color: white;
    margin-top: 56px;
}
.c2-text-1{
    font-size: 24px;
    text-align: left;
    line-height: 42px;
    color: white;
    margin-top: 12px;
}
.c2-text-2{
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    color: white;
    margin-top: 32px;
    margin-bottom: 68px;
}
.photo-1{
    display: flex;
    margin-top: 40px;
    margin-bottom: 160px;
}
.c3-tittle{
    font-size: 64px;
    text-align: left;
    line-height: 84px;
    margin-top: 56px;
}
.contect-3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.work{
    display: flex;
    margin-top: 56px;
    margin-bottom: 48px;
}
.work-1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.work-text{
    margin-top: 16px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    width: 100%;
    margin-top: 96px;
}