/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.name{
	font: normal normal normal 80px/95px SF Pro Text;
    font-size: 80px;
    color: #000;
    line-height: 95px;
    margin-bottom: 24px;
}

.broder-1{
    border: 1px solid #000000;
}

.photo-1{
	margin: 48px 0px;
}

.tittle{
	font: normal normal medium 32px/48px PingFang TC;
	font-size: 32px;
	color: #000;
	line-height: 48px;
	margin-bottom: 8px;
}
.subtitle{
	font: normal normal 600 24px/36px SF Pro Text;
	font-size: 24px;
	color: #A00404;
	line-height: 36px;
	margin-left: 16px;
}

.text-1{
	font: normal normal 300 24px/36px PingFang TC;
	font-size: 24px;
	color: #000000;
	line-height: 36px;
	margin-top: 16px;
	margin-bottom: 24px;
}
.text-2{
	font: normal normal 300 24px/36px PingFang TC;
	font-size: 24px;
	color: #000000;
	line-height: 36px;
	margin-bottom: 64px;
}

.text-3{
	font: normal normal 300 24px/36px PingFang TC;
	font-size: 24px;
	color: #000000;
	line-height: 36px;
	margin:16px 0px;
}
.text-4{
	font: normal normal 300 24px/36px PingFang TC;
	font-size: 24px;
	color: #000000;
	line-height: 36px;
	margin-bottom: 64px;
}

.bg{
	background-color: #415165;
	padding-top: 24px;
	padding-bottom: 40px;
	margin-bottom: 64px;
}

.tittle-2{
	font: normal normal medium 32px/48px PingFang TC;
	font-size: 32px;
	line-height: 48px;
	color: #FFFFFF;
	text-align: center;
	margin-bottom: 8px;
}
.subtitle-2{
	font: normal normal 600 24px/36px SF Pro Text;
	font-size: 24px;
	line-height: 36px;
	margin-left: 16px;
}
.broder-2{
	background-color: #FFFFFF;
	width: 100%;
	height: 1px;
}

.skill-tree{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 40px;
}
.broder-3{
	background-color: #96A9C4;
	width: 1px;
	height: 300px;
	margin-right: 23px;
}

.text-5{
	font: normal normal 300 24px/36px SF Pro Text;
	font-size: 24px;
	color:#FFFFFF;
	line-height: 36px;
	margin-bottom: 8px;
}

.work{
	display: flex;
	padding-left: 24px;
	padding-top: 16px;
	margin-bottom: 80px;
}
.broder-4{
	background-color: #96A9C4;
	width: 1px;
	height: 654px;
	margin-right: 24px;
}

.text-6{
	font: normal normal medium 24px/36px PingFang TC;
	font-size: 24px;
	line-height: 36px;
	color: #000000;
}
.text-7{
	font: normal normal 300 20px/30px PingFang TC;
	font-size: 20px;
	line-height: 30px;
	color: #000000;
	margin-bottom: 24px;
	width: 642px;
}
.text-8{
	font: normal normal medium 24px/36px PingFang TC;
	font-size: 24px;
	line-height: 36px;
	color: #000000;
	margin-bottom: 24px;
}


.bg-2{
	background-color: #415165;
	padding-top: 24px;
	padding-bottom: 40px;
}
.contact{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 24px;
}

.text-9{
	font: normal normal 300 24px/36px SF Pro Text;
	font-size: 24px;
	color:#FFFFFF;
	line-height: 36px;
	margin-bottom: 16px;
}


.social-media{
	width: 192px;
	display: flex;
	justify-content: space-between;
}